.CityBaseInfo {
  justify-content: center;
  height: 60%;
}

.CityBaseInfo_cityName {
  justify-content: center;
  align-items: center;

  height: 30px;

  font-family: "rubiklight";
  font-size: 25px;
}

.CityBaseInfo_weather {
  justify-content: center;
  align-items: center;

  height: 160px;

  margin: 40px;
}

.CityBaseInfo_weather_temp {
  color: white;
}

.CityBaseInfo_weather_temp_label {
  font-size: 90px;
}