@import "typography";
@import "vars";
@import "icons";
@import "weatherIcons";

body {
  margin: 0;
  font-family: 'rubikregular';
  font-size: calc(5px + 1vmin);
}

html {
  position: relative;
  min-height: 100%;
  min-width: 500px;
  background-color: $Grey;
}

/* containers */
.container__row {
  display: flex;
  flex-direction: row;
}

.container__column {
  display: flex;
  flex-direction: column;
}

.container__glass {
  background-color: $White10;
}

.border-gradient {
  border: 2px solid;
  border-image-slice: 1;
}
.border-gradient-grey {
  border-image-source: $Border;
}

.border-gradient-white {
  border-image-source: $BorderWhite;
}

/* label */
.label {
  color: $White70;
  margin-right: 8px;
}

.label__light {
  font-family: 'rubiklight';
}

.label__white {
  color: $White90;
}

.label__grey {
  color: $Grey7;
}

.label__shadow {
  text-shadow: 0px 10px 20px $Black25;
}

/* icons */
.icon__s {
  height: 100%;
  width: 18px;
  margin-right: 5px;

  background-repeat: no-repeat;
  background-position: center;
}

.icon__m {
  height: 100%;
  width: 35px;

  margin-right: 5px;

  background-repeat: no-repeat;
  background-position: center;
}

.icon__l {
  height: 100%;
  width: 200px;

  background-repeat: no-repeat;
  background-position: center;
}

.weather {
  height: 80px;
  width: 95px;

  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  right: 0;
}

/* input */
.input {
  height: 100%;
  width: 100%;

  font-family: 'rubikregular';
  font-size: inherit;
  color: $Grey7;

  background-color: transparent;
  border:0;
}

.input::placeholder {
  font-family: 'rubiklight';
  color: $Grey3;
}

.input:focus{
  outline: none;
  color: $Grey9;
}


/* lines */
.line {
  height: 2px;
  border: 0;
  margin: 2px 0px 0px 0px;
}

.line__grey {
  background-color: $Grey3;
}

.line__white {
  background-color: $White50;
}

.input:focus ~ .line_underInput{
  background-color: $Grey7;
}

/* options */
.option {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 22px;
  padding-top: 2px;

  color: $Grey7;
  cursor: pointer;
}

.option:hover{
  color: $Grey9;
  box-shadow: 0px 0px 8px $Grey1;
}