@font-face {
  font-family: 'rubikregular';
  src: url('../fonts/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rubiklight';
  src: url('../fonts/Rubik-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}