/* colors */
$White: #fff;
$White10: #FFFFFF19;
$White30: #FFFFFF4D;
$White50: #FFFFFF7F;
$White70: #FFFFFFB2;
$White80: #FFFFFFCC;
$White90: #FFFFFFE5;


$Grey: #FAFAFA;
$Grey1: #d5d5d5;
$Grey3: #B7B7B7;
$Grey7: #5E5E5E;
$Grey9: #3b3b3b;

$Black25: #0000003F;

/* linear */
.day__warm {
  background: linear-gradient(135deg, #FFD568 0%, #E96970 98.63%);
}
.day__cold {
  background: linear-gradient(135deg, #88DAFF 0%, #4156C5 98.63%);
}
.day__overcast {
  background: linear-gradient(135deg, #72ACC6 0%, #394069 98.63%);
}

.night__warm {
  background: linear-gradient(135deg, #E96970 0%, #210965 92.19%);
}
.night__cold {
  background: linear-gradient(135deg, #50ADD7 0%, #210965 84.76%);
}
.night__overcast {
  background: linear-gradient(135deg, #45788F 0%, #1F1341 91.44%);
}

/*$WarmDay: linear-gradient(98.84deg, rgba(255, 213, 104, 1) 0%, rgba(233, 105, 112, 1) 98.63%);
$ColdDay: linear-gradient(98.84deg, #88DAFF 0%, #4156C5 98.63%);
$RainyDay: linear-gradient(98.84deg, #72ACC6 0%, #394069 98.63%);

$WarmNight: linear-gradient(99.09deg, #E96970 0%, #210965 92.19%);
$ColdNight: linear-gradient(98.84deg, #50ADD7 0%, #210965 84.76%);
$RainyNight: linear-gradient(98.84deg, #45788F 0%, #1F1341 91.44%);*/

$Border: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, #0000001A 80%);

$BorderWhite: linear-gradient(179.17deg, rgba(255, 255, 255, 0) 0.71%, rgba(255, 255, 255, 0.4) 41.7%, rgba(255, 255, 255, 0) 99.26%);


